In [1]:
# data handling
import numpy as np
import pandas as pd

# Get multiple outputs from one cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Ignore those ugly warning messages
import warnings
warnings.filterwarnings('ignore')

# Birth Weight Prediction

## Strategy

## Data exploration
- Upload the data ✅
- Descriptive statistics ✅
- Rename columns
- Resort columns 
- Cross-features correlations

In [2]:
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [5]:
# Describing the dataset

print('--------------')
print('Rows, Columns:')
print('--------------')
df.shape
print('---------------')
print("Columns' names:")
print('---------------')
df.columns
print('-----------------')
print('Column / Datatype:')
print('-----------------')
df.dtypes
print('-----------------')
df.head(5)
print('---------------------')
print('Descriptive statistic:')
print('---------------------')
round(df.describe())
print('-----------------------')
print('The sum of null values:')
print('-----------------------')
print(df.isnull().sum())
print('-----------------------')
print('The sum of NaN values:')
print('-----------------------')
df.isna().sum()

--------------
Rows, Columns:
--------------

(108082, 38)

---------------
Columns' names:
---------------

Index(['id', 'ATTEND', 'BFACIL', 'BMI', 'CIG_0', 'DLMP_MM', 'DMAR', 'DOB_MM',
       'DOB_TT', 'DOB_WK', 'FAGECOMB', 'FEDUC', 'ILLB_R', 'ILOP_R', 'ILP_R',
       'LD_INDL', 'MAGER', 'MBSTATE_REC', 'MEDUC', 'M_Ht_In', 'NO_INFEC',
       'NO_MMORB', 'NO_RISKS', 'PAY', 'PAY_REC', 'PRECARE', 'PREVIS',
       'PRIORDEAD', 'PRIORLIVE', 'PRIORTERM', 'PWgt_R', 'RDMETH_REC',
       'RESTATUS', 'RF_CESAR', 'RF_CESARN', 'SEX', 'WTGAIN', 'DBWT'],
      dtype='object')

-----------------
Column / Datatype:
-----------------

id               int64
ATTEND           int64
BFACIL           int64
BMI            float64
CIG_0            int64
DLMP_MM          int64
DMAR            object
DOB_MM           int64
DOB_TT           int64
DOB_WK           int64
FAGECOMB         int64
FEDUC            int64
ILLB_R           int64
ILOP_R           int64
ILP_R            int64
LD_INDL         object
MAGER            int64
MBSTATE_REC      int64
MEDUC            int64
M_Ht_In          int64
NO_INFEC         int64
NO_MMORB         int64
NO_RISKS         int64
PAY              int64
PAY_REC          int64
PRECARE          int64
PREVIS           int64
PRIORDEAD        int64
PRIORLIVE        int64
PRIORTERM        int64
PWgt_R           int64
RDMETH_REC       int64
RESTATUS         int64
RF_CESAR        object
RF_CESARN        int64
SEX             object
WTGAIN           int64
DBWT             int64
dtype: object

-----------------

,id,ATTEND,BFACIL,BMI,CIG_0,DLMP_MM,DMAR,DOB_MM,DOB_TT,DOB_WK,...,PRIORLIVE,PRIORTERM,PWgt_R,RDMETH_REC,RESTATUS,RF_CESAR,RF_CESARN,SEX,WTGAIN,DBWT
0,0,1,1,18.5,0,12,,10,1434,5,...,0,0,108,1,1,N,0,F,24,2800
1,1,1,1,18.3,2,4,1,12,2156,6,...,2,1,100,1,1,N,0,M,18,1900
2,2,1,1,27.3,0,3,2,12,1241,2,...,2,2,135,4,1,Y,2,F,27,2960
3,3,1,1,24.0,0,7,2,4,1649,2,...,0,0,111,3,1,N,0,M,29,3657
4,4,2,1,23.6,0,6,1,3,752,2,...,2,0,121,4,1,Y,2,F,37,3742

---------------------
Descriptive statistic:
---------------------

,id,ATTEND,BFACIL,BMI,CIG_0,DLMP_MM,DOB_MM,DOB_TT,DOB_WK,FAGECOMB,...,PREVIS,PRIORDEAD,PRIORLIVE,PRIORTERM,PWgt_R,RDMETH_REC,RESTATUS,RF_CESARN,WTGAIN,DBWT
count,108082.0,108082.0,108082.0,108082.0,108082.0,108082.0,108082.0,108082.0,108082.0,108082.0,...,108082.0,108082.0,108082.0,108082.0,108082.0,108082.0,108082.0,108082.0,108082.0,108082.0
mean,54040.0,1.0,1.0,29.0,2.0,11.0,7.0,1233.0,4.0,40.0,...,14.0,0.0,1.0,1.0,176.0,2.0,1.0,0.0,32.0,3260.0
std,31201.0,1.0,0.0,13.0,8.0,20.0,3.0,633.0,2.0,22.0,...,14.0,5.0,4.0,5.0,125.0,1.0,1.0,2.0,19.0,590.0
min,0.0,1.0,1.0,13.0,0.0,1.0,1.0,0.0,1.0,14.0,...,0.0,0.0,0.0,0.0,75.0,1.0,1.0,0.0,0.0,227.0
25%,27020.0,1.0,1.0,22.0,0.0,4.0,4.0,801.0,2.0,28.0,...,9.0,0.0,0.0,0.0,130.0,1.0,1.0,0.0,20.0,2965.0
50%,54040.0,1.0,1.0,26.0,0.0,7.0,7.0,1238.0,4.0,33.0,...,12.0,0.0,1.0,0.0,150.0,1.0,1.0,0.0,30.0,3300.0
75%,81061.0,1.0,1.0,31.0,0.0,10.0,10.0,1735.0,6.0,38.0,...,14.0,0.0,2.0,1.0,182.0,3.0,2.0,0.0,40.0,3629.0
max,108081.0,9.0,9.0,100.0,99.0,99.0,12.0,9999.0,7.0,99.0,...,99.0,99.0,99.0,99.0,999.0,9.0,4.0,99.0,99.0,6840.0

-----------------------
The sum of null values:
-----------------------
id             0
ATTEND         0
BFACIL         0
BMI            0
CIG_0          0
DLMP_MM        0
DMAR           0
DOB_MM         0
DOB_TT         0
DOB_WK         0
FAGECOMB       0
FEDUC          0
ILLB_R         0
ILOP_R         0
ILP_R          0
LD_INDL        0
MAGER          0
MBSTATE_REC    0
MEDUC          0
M_Ht_In        0
NO_INFEC       0
NO_MMORB       0
NO_RISKS       0
PAY            0
PAY_REC        0
PRECARE        0
PREVIS         0
PRIORDEAD      0
PRIORLIVE      0
PRIORTERM      0
PWgt_R         0
RDMETH_REC     0
RESTATUS       0
RF_CESAR       0
RF_CESARN      0
SEX            0
WTGAIN         0
DBWT           0
dtype: int64
-----------------------
The sum of NaN values:
-----------------------

id             0
ATTEND         0
BFACIL         0
BMI            0
CIG_0          0
DLMP_MM        0
DMAR           0
DOB_MM         0
DOB_TT         0
DOB_WK         0
FAGECOMB       0
FEDUC          0
ILLB_R         0
ILOP_R         0
ILP_R          0
LD_INDL        0
MAGER          0
MBSTATE_REC    0
MEDUC          0
M_Ht_In        0
NO_INFEC       0
NO_MMORB       0
NO_RISKS       0
PAY            0
PAY_REC        0
PRECARE        0
PREVIS         0
PRIORDEAD      0
PRIORLIVE      0
PRIORTERM      0
PWgt_R         0
RDMETH_REC     0
RESTATUS       0
RF_CESAR       0
RF_CESARN      0
SEX            0
WTGAIN         0
DBWT           0
dtype: int64

## Data Preparation
- Fill the null and NaN values
- Reduce skewness

## Feature Engineering
- Creating new values
- One-hot encoding
- Dropping the unnecessary
- Scaling

## Splitting the dataset

## Modeling
- Naive prediction
- Linear regression
- Random Forest
- CatBoost
- Gaussian Process Regression (GPR)
- Conformalized Quantile Regression

## Evaluating Models
- Winkler Score

## Uploading results